.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &.variant-blue {
        background-image: linear-gradient(135deg, #9bafd9 -20%, #103783 90%);
    }

    &.variant-orange {
        background-image: linear-gradient(135deg, #f9b248 -20%, #f12711 90%);
    }

    &.variant-green {
        background-image: linear-gradient(135deg, #a1d99b -20%, #0f783c 90%);
    }
}