.container {
    padding: 1rem;
    padding: calc(56px + 1rem) 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>* {
        width: 100%;
    }

    &>*:is(button, a) {
        width: fit-content;
    }

    .hero {
        text-align: center;

        &>h1 {
            font-size: max(48px, min(5vw, 76px));
            font-weight: 700;
            padding: 1.5rem;
            padding-bottom: 0rem;
            line-height: 1.2;
            text-wrap: balance;
        }

        &>p {
            font-size: max(16px, min(2vw, 20px));
            margin: 0 auto;
            max-width: 800px;
            padding: 1rem 1.5rem;
            padding-top: 0;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 1.25rem;
        padding: 4rem 1rem;
        margin: 0 auto;
        max-width: 1200px;

        &>article {
            background-color: var(--color-white);
            border-radius: 1rem;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            border: 1px solid #eaeaea;

            span {
                width: 100%;
                aspect-ratio: 3/2;
                border-radius: 0.75rem;
                display: none;
            }

            h2,
            p {
                line-height: 1.2;
            }

            h2 {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 0.25rem;
            }


            &:nth-child(1) {
                span {
                    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
                }
            }

            &:nth-child(2) {
                span {
                    background-color: #caf903;
                    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
                }
            }

            &:nth-child(3) {
                span {
                    background-color: #8BC6EC;
                    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
                }
            }
        }

        @media screen and (max-width: 400px) {
            display: flex;
            flex-direction: column;
        }
    }
}