.container {
    padding-top: 56px;
    min-height: 100vh;

    .content {
        display: grid;
        grid-template: "aside main" 1fr / minmax(256px, 1fr) 9fr;

        .menu {
            grid-area: aside;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            padding: 1rem;
            padding-top: 0;
            background-color: #fff;

            button {
                justify-content: flex-start;
            }
        }

        &>form,
        &>.links {
            h2 {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }

        .links {
            display: flex;
        }

        .themes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
            gap: 1rem;

            .theme {
                cursor: pointer;
                border: 1px solid #eaeaea;
                border-radius: calc(var(--radius) - 2px);
                overflow: hidden;

                .card {
                    width: 100%;
                    aspect-ratio: 16/9;
                    display: block;
                    background-size: 200% 200%;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &>figcaption {
                    padding: 0.5rem 0.75rem;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: hsl(var(--muted-foreground));
                }

                &.selected {
                    --tw-ring-offset-width: 2px;
                    --tw-ring-color: hsl(var(--ring));
                    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
                    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);

                    &>figcaption {
                        color: hsl(var(--foreground));
                    }
                }

                &.blue {
                    .card {
                        background-image: linear-gradient(135deg, #9bafd9 -20%, #103783 40%);
                    }
                }

                &.orange {
                    .card {
                        background-image: linear-gradient(135deg, #f9b248 -20%, #f12711 40%);
                    }
                }

                &.green {
                    .card {
                        background-image: linear-gradient(135deg, #a1d99b -20%, #0f783c 40%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        .content {
            .links {
                flex-direction: column;
            }

            * {
                max-width: unset !important;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .container {
        .content {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }
}