.container {
    padding-top: 56px;
    height: 100vh;

    .content {
        display: grid;
        grid-template: "aside main" 1fr / minmax(256px, 1fr) 9fr;

        .menu {
            grid-area: aside;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            padding: 1rem;
            padding-top: 0;

            button {
                justify-content: flex-start;
            }
        }

        &>form,
        &>div {
            h2 {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
    }

}